<p>Alerti est une solution de veille et d'analyse des médias sociaux pour les personnes voulant contrôler et analyser ce qui ce dit en ligne selon les sources et certains mots clés.</p>
<p>L'application est basée sur le framework Ruby on Rails, et le coeur de l'application est un système de crawlers qui va récupérer les données sur différentes sources et API. Alerti a fait appel à mes services pour améliorer ce système de crawling qui n'était plus assez performant pour leur base d'utilisateur en expansion.</p>
<p>Ma mission consistait à faire de ce système, un algorithme qui soit scalable et qui fonctionne plus rapidement, pour que Alerti puisse continuer à augmenter sa base d'utilisateur sans avoir de baisses de régime et de ralentissement. La première phase était une phase d'étude. Il a fallu faire des recherches sur les différentes technologies existantes, différents types d'algorithme et aussi faire du benchmarking sur différent type de base de données (Mysql, Mysql édition TokuDB et MongoDB) et voir leurs réactions avec des écritures et des lectures intensives.
</p>
<p>La seconde phase a été l'implémentation du moteur de recherche. Nous avons donc choisi les technologies suivantes: </p>
<ul>
  <li>
    <a href="http://www.tokutek.com/">Mysql édition TokuDB</a> qui a un meilleur système d'indexation que Mysql InnoDB et nous a donc fait gagner en performance autant en écriture qu'en lecture sur une base de données ayant des tables contenant plusieurs centaines de millions de lignes.
  </li>
  <li>
    L'algorithme est basé sur <a href="http://sidekiq.org/">Sidekiq</a> qui permet de lancer les différentes tâches en parallèle et ainsi gagner en rapidité.
  </li>
  <li>
    <a href="https://www.rabbitmq.com/">rabbitMQ</a> comme service de messages entre les différentes apps du système. Cela permet de répartir des événements et faire travailler ensemble plusieurs apps/modules isolés.
  </li>
  <li>
    Une base <a href="http://redis.io/">Redis</a> pour mettre en cache certaines données clé du système.
  </li>
</ul>
<p>Depuis ce travail en 2012, le moteur de recherche est beaucoup plus stable et grâce aux workers d'<a href="http://www.heroku.com">Heroku</a>, le moteur peut gagner en rapidité en quelques secondes selon les montées en charges. Alerti ayant été satisfait du travail effectué, nous collaborons de manière régulière sur différentes évolutions et optimisations de leur application web.</p>

