<p>Ce service permet de mettre en relation des transporteurs et des personnes voulant envoyer des colis. Cette startup est en pleine croissance, et le leader sur son créneau.</p>
<p>L'application est basée sur le framework Ruby on Rails, ma mission consiste à développer l'api pour la communication avec l'application front end, l'architecture du code et des données, et l'implémentation des différentes fonctionnalités. Le but étant d'avoir une architecture la plus robuste possible, qui puisse scaler facilement tout en étant un code facile à lire et testé de bout en bout.
</p>
<p>Les technoligies utilisées sont Ror, React, Postgresql en base de donnée, Heroku pour l'hébergement, et Elastic Search pour la recherche sémantique.</p>