<p>Voici quelques-uns des projets sur lesquels j'ai travaillé lorsque j'étais employé pour <a href="http://www.northplains.com/">North Plains</a>:</p>
<ul>
  <li>Implementation d'un moteur de recherche sémantique en utilisant <a href="http://en.wikipedia.org/wiki/Apache_Solr">Solr</a>. Associé à des appels ajax, cela permet d'avoir un moteur de recherche puissant, intuitif et facile d'utilisation.
  </li>
  <li>Site de documentation de l'application</li>
  <li>Traitement Excel avancé pour faire de l'import / export de données vers et depuis leur base de données</li>
  <li>Site sécurisé permettant de transférer, uploader et récupérer des documents internes à l'entreprise</li>
</ul>
<p>Dans le but de faire gagner du temps et d'avoir une équipe de développeur plus efficace, j'ai aussi développé différents frameworks internes utilisés par les équipes de dév:</p>
<ul>
  <li>Un framework javascript de validation de formulaire</li>
  <li>Un framework javascript qui permet de rendre plus facile l'utilisation des multiple selectbox</li>
</ul>
<p>Ces codes sont la propriété de North Plains et ne sont donc pas publiques</p>
