<p>Lorsque je me suis lancé en freelance, le temps de me lancer, j'ai travaillé à mi-temps comme instructeur de Kitesurf à <a href="http://www.ktstarifa.com">KTS</a> (Tarifa, Espagne). J'ai travaillé à la maintenance et l'évolution de leur site web ainsi que le développement d'une application interne de gestion des clients. </p>
<p>Le site web est une simple application Joomla, sur lequel j'ai fait certaines mises à jour et modifications.</p>
<p>Ensuite, j'ai développé un petit outil pour la gestion de l'école qui permettait d'automatiser les prises de rendez-vous pour les heures de kitesurf et permettre de gérer la disponibilité des instructeurs et le matériel de location et les heures passées d'un élève.</p>
<p>Une autre application simple était une base de données avec une interface basique pour la gestion des stocks du magasin, pour avoir une base informatisée des produits disponibles.</p>
<p>Ces deux applications étaient faites via <strong>Ruby on Rails</strong> et le framework Active Admin pour la gestion du panel d'administration.</p>
