<p>Cette application web est un projet de TODO list en équipe, cela permet de gérer les tâches d'un projet dans une équipe</p>
<p>Cette application utilisée aussi <strong>Ruby on Rails</strong> pour le back end et le <strong>framework Javascript Spine.js</strong>pour le front end.</p>
<p>Voir la vidéo pour avoir une idée du fonctionnement.</p>
<a class="mobile_only button button-small" href="http://www.youtube.com/watch?v=OzVLr49Kf8c" class="button button-small">Video Youtube</a>
<div class="desktop_only lg_px_only">
  <iframe  width="420" height="315" id="youtube_londy"  frameborder="0" allowfullscreen></iframe>
</div>
