<p>Onbrand est une solution Cloud qui donne aux chefs de marque d'entreprise et aux responsables marketing les moyens d'exploiter leurs ressources de marque au sein des campagnes marketing tout en respectant les directives. Le module Onbrand sur lequel j'ai travaillé, est la partie qui permette de gérer le workflow des projets marketing.</p>
<p>J'étais responsable de la partie front-end du code. Nous avons utilisé un framework Javascript MVC interne similaire à <a href="http://documentcloud.github.com/backbone/">Backbone.js</a> qui nous as permis de produirer une application Javascript complexe et bien structurée. Le design de l'architecture de l'application javascript nous a permis d'avoir une application qui soit:</p>
<ul>
  <li>modulaire</li>
  <li>maintenable</li>
  <li>extensible</li>
</ul>
<p>Les challenges techniques auxquels on a dû faire face sont les suivants:</p>
<ul>
  <li>La gestion des différents types d'utilisateurs et des permissions de chaque groupe</li>
  <li>Un moteur de recherche qui est puissant et rapide pour la recherche rapide des ressources marketing via l'outil <a href="http://en.wikipedia.org/wiki/Apache_Solr">Apache Solr</a>.</li>
  <li>Avoir une application "out of the box", qui soit facilement déployable, maintenable et adaptable selon les environnements et les contraintes marketing des différents clients tels que Diageo ou Nestlé.</li>
</ul>
