<p>Développement back end de plusieurs sites e-commerce avec le framework Spree / Solidus hébergé sur Heroku et utilisant une base de données postgresql.</p>
<p>La stack technique est basée sur le framework Ruby on Rails, et la partie front end de l'application web utilise le framework React/Redux.</p>
<p>Développement de modules spécifiques pour la gestion du back office via Solidus: La gestion des promotions, la gestion des retours clients et remboursements, gestion des livraisons multi colis et multi entrepots.</p>
<p>Implémentation d'un puissant moteur de recherche via Algolia, pour une recherche simple et rapide des produits par les utilisateurs du site E-commerce.</p>
<p>Implémentation des flux d'information pour la communication entre les entités existantes de l'entreprise, service reporting, marketing, finance, etc...</p>



