<p>Ceci est une librairie Javascript pour afficher des arborescences dans une page web. Il supporte l'affichage via Ajax, les cookies et l'ajout de checkboxes.</p>
<p>Cette librairie est facilement extensible, facile à prendre en main et testé de A à Z.</p>
