<div class="wrapper wrapper-style4">
  <article id="contact">
    <header>
      <h2>Want to hire me or just have a chat? Get in touch!</h2>
      <span>I will be happy to discuss about your project and how my mission will help you keep your moving to your goal.</span>
    </header>
    <div class="5grid">
      <div class="row row-special">
        <div class="12u">
          <h3>Find me on ...</h3>
          <ul class="social">
            <li class="github"><a href="http://github.com/loicginoux" class="icon icon-github"><span>Github</span></a></li>
            <li class="linkedin"><a href="http://www.linkedin.com/in/loicginoux" class="icon icon-linkedin"><span>LinkedIn</span></a></li>
            <li class="twitter"><a href="http://twitter.com/loicginoux" class="icon icon-twitter"><span>Twitter</span></a></li>
          </ul>
          <h3>or</h3>
          <ul class="social">
            <li class="email"><a href="mailto:loic@lgx-development.com" class="icon"><span>loic@lgx-development.com</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <p id="copyright">
        &copy; <%= Time.now.year %> Loïc Ginoux | EURL LGX Development | E.U. Intra V.A.T. nº: FR69 804796894 | <a href="/mentions_legales">Mentions légales</a>
      </p>
    </footer>
  </article>
</div>
