<!-- CV -->
<div class="wrapper wrapper-style5">
  <article id="cv">
    <div class="5grid 5grid-container">
      <div class="row">
        <div class="12u">
          <header>
            <h2>Have a closer look at my CV.</h2>
            <span>You will have a more complete overview of my experiences and qualifications.</span>
            <p><a href="/cv_freelance_web_developer_loic_ginoux.pdf" target="_blank">Open CV in PDF</a></p>
          </header>
        </div>
      </div>
    </div>
  </article>
</div>
