<nav id="nav">
  <ul class="nav">
      <li class="active"><a href="/#top">Top</a></li>
      <li><a href="/#services">Services</a></li>
      <li><a href="/#portfolio">Portfolio</a></li>
      <li><a href="/#work">Work</a></li>
      <li><a href="/#cv">CV</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/#contact">Contact</a></li>
      <li>
        <!-- <a class="nav__flag" href="/"><img src="/images/uk.png" alt="english version"></a> -->
        <!-- <a class="nav__flag" href="/fr"><img src="/images/fr.png" alt="french version"></a> -->
      </li>
  </ul>
</nav>
