<div class="wrapper wrapper-style3">
  <article id="services">
    <header>
      <h2>Which are the freelance development services that I can offer you?</h2>
      <p>I can help your business grow online with my expertise and skills.</p>
    </header>
    <% data.services.each do |service| %>
      <div class="5grid 5grid-container">
        <div class="row">
          <article class="box clickable box-style2 <%= service.id %>">
            <h3><%= service.title_en %></h3>
            <p class="align-left"><%= service.intro_en %></p>
          </article>
        </div>
      </div>
    <% end %>

    <footer>
      <a href="#portfolio" class="button button-big">Check out some examples</a>
    </footer>
  </article>
</div>
