<section id="education" class="pt-[120px] bg-white relative z-10">
  <div class="container">
    <div class="border-b border-[#E9ECF8] pb-[70px]">
      <div class="flex flex-wrap mx-[-16px]">
        <div class="w-full px-4">
          <div class="max-w-[600px] mx-auto text-center mb-[50px]">
            <span class="font-semibold text-lg text-primary block mb-2"> Éducation et Expérience </span>
            <h2 class="font-bold text-black text-3xl sm:text-4xl md:text-[45px] mb-5">Mon curriculum vitae</h2>
            <p class="font-medium text-lg text-body-color mb-8">
            Depuis l'obtention de mon diplôme et en progressant à travers mes expériences professionnelles, cela trace l'évolution de mes compétences et de mon expertise au fil du temps.</p>
            <a
              href="/cv_freelance_web_developer_loic_ginoux_fr.pdf"
              class="text-base font-bold text-white bg-primary rounded-full py-3 px-8 md:px-9 lg:px-8 xl:px-9 hover:shadow-signUp hover:bg-opacity-90 transition ease-in-out duration-300"
            >
              Télécharger CV
            </a>
          </div>
        </div>
      </div>

      <div class="relative pt-12">
        <span class="absolute top-0 block left-2 lg:left-1/2 w-[1px] h-full bg-[#d7dfff]"></span>

        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-1/2 px-4"></div>
          <div class="w-full lg:w-1/2 px-4">
            <div class="lg:max-w-[428px] xl:max-w-[490px] w-full pl-8 sm:pl-11 lg:pl-0 lg:ml-5 relative pb-12">
              <span class="absolute top-1 left-0 lg:-left-11 w-4 h-4 rounded-full bg-white border-4 border-primary"></span>
              <h3 class="font-semibold text-xl text-black mb-1">Développeur Full Stack</h3>
              <p class="font-semibold text-base text-body-color mb-3">Epicery | télétravail, FR</p>
              <span class="inline-flex items-center justify-center py-2 px-4 rounded-full bg-primary text-white text-xs font-semibold mb-5"> 2022 - 2023 </span>
              <p class="font-medium text-base text-body-color">
                Dans un contexte de soutien aux entreprises locales, la tâche consistait à s'intégrer dans une équipe technique en expansion et à affiner les processus existants tout en partageant mes connaissances sur le framework e-commerce Solidus/Spree.
              </p>
            </div>
          </div>

          <div class="w-full lg:w-1/2 px-4">
            <div class="lg:max-w-[428px] xl:max-w-[490px] w-full ml-auto pl-8 sm:pl-11 lg:pl-0 lg:pr-0 lg:mr-5 lg:text-right relative pb-12">
              <span class="absolute top-1 left-0 lg:left-auto lg:-right-11 w-4 h-4 rounded-full bg-white border-4 border-primary"></span>
              <h3 class="font-semibold text-xl text-black mb-1">Chef de projet Développement Backend</h3>
              <p class="font-semibold text-base text-body-color mb-3">Cocolis | télétravail, FR</p>
              <span class="inline-flex items-center justify-center py-2 px-4 rounded-full bg-primary text-white text-xs font-semibold mb-5"> 2019 - 2023 </span>
              <p class="font-medium text-base text-body-color">
                Faciliter les connexions entre les individus dans une solution de service de livraison axée sur l'écologie a donné un sens plus profond à mon travail et m'a permis de donner le meilleur de moi-même.
              </p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 px-4"></div>

          <div class="w-full lg:w-1/2 px-4"></div>
          <div class="w-full lg:w-1/2 px-4">
            <div class="lg:max-w-[428px] xl:max-w-[490px] w-full pl-8 sm:pl-11 lg:pl-0 lg:ml-5 relative pb-12">
              <span class="absolute top-1 left-0 lg:-left-11 w-4 h-4 rounded-full bg-white border-4 border-primary"></span>
              <h3 class="font-semibold text-xl text-black mb-1">Chef de projet Développement Backend</h3>
              <p class="font-semibold text-base text-body-color mb-3">Carrefour | télétravail, FR</p>
              <span class="inline-flex items-center justify-center py-2 px-4 rounded-full bg-primary text-white text-xs font-semibold mb-5"> 2017 - 2019 </span>
              <p class="font-medium text-base text-body-color">
                En rencontrant de nouveaux défis dans le commerce électronique et la logistique, j'ai acquis une compréhension approfondie du fonctionnement d'une grande entreprise établie et des challenges liés à la logistique.
              </p>
            </div>
          </div>

          <div class="w-full lg:w-1/2 px-4">
            <div class="lg:max-w-[428px] xl:max-w-[490px] w-full ml-auto pl-8 sm:pl-11 lg:pl-0 lg:pr-0 lg:mr-5 lg:text-right relative pb-12">
              <span class="absolute top-1 left-0 lg:left-auto lg:-right-11 w-4 h-4 rounded-full bg-white border-4 border-primary"></span>
              <h3 class="font-semibold text-xl text-black mb-1">Développeur Full Stack</h3>
              <p class="font-semibold text-base text-body-color mb-3">L'Oréal | télétravail, FR</p>
              <span class="inline-flex items-center justify-center py-2 px-4 rounded-full bg-primary text-white text-xs font-semibold mb-5"> 2015 - 2019 </span>
              <p class="font-medium text-base text-body-color">
                Construite de zéro, il s'agit d'une plateforme web interne visant à encourager et impliquer les employés dans le développement de leurs propres projets d'entreprise basés sur le financement participatif.
              </p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 px-4"></div>

          <div class="w-full lg:w-1/2 px-4"></div>
          <div class="w-full lg:w-1/2 px-4">
            <div class="lg:max-w-[428px] xl:max-w-[490px] w-full pl-8 sm:pl-11 lg:pl-0 lg:ml-5 relative pb-12">
              <span class="absolute top-1 left-0 lg:-left-11 w-4 h-4 rounded-full bg-white border-4 border-primary"></span>
              <h3 class="font-semibold text-xl text-black mb-1">CTO, Développeur Full Stack</h3>
              <p class="font-semibold text-base text-body-color mb-3">Alerti | télétravail, FR</p>
              <span class="inline-flex items-center justify-center py-2 px-4 rounded-full bg-primary text-white text-xs font-semibold mb-5"> 2014 - 2021 </span>
              <p class="font-medium text-base text-body-color">
                J'ai acquis une compréhension complète de la supervision, du développement, de la maintenance et de l'évolutivité d'une application web professionnelle de A à Z.
              </p>
            </div>
          </div>

          <div class="w-full lg:w-1/2 px-4">
            <div class="lg:max-w-[428px] xl:max-w-[490px] w-full ml-auto pl-8 sm:pl-11 lg:pl-0 lg:pr-0 lg:mr-5 lg:text-right relative pb-12">
              <span class="absolute top-1 left-0 lg:left-auto lg:-right-11 w-4 h-4 rounded-full bg-white border-4 border-primary"></span>
              <h3 class="font-semibold text-xl text-black mb-1">Développeur Front-End</h3>
              <p class="font-semibold text-base text-body-color mb-3">Vyre Ltd. | London, UK</p>
              <span class="inline-flex items-center justify-center py-2 px-4 rounded-full bg-primary text-white text-xs font-semibold mb-5"> 2009 - 2012 </span>
              <p class="font-medium text-base text-body-color">
                Après l'obtention de mon diplôme, j'ai relevé le défi de travailler dans un nouveau pays, appliquant mes connaissances académiques directement sur des projets pour des clients majeurs tels que Diageo, Nestlé et Shell au sein d'une société de logiciels de gestion de ressources numériques.
              </p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 px-4"></div>

          <div class="w-full lg:w-1/2 px-4"></div>
          <div class="w-full lg:w-1/2 px-4">
            <div class="lg:max-w-[428px] xl:max-w-[490px] w-full pl-8 sm:pl-11 lg:pl-0 lg:ml-5 relative pb-12">
              <span class="absolute top-1 left-0 lg:-left-11 w-4 h-4 rounded-full bg-white border-4 border-primary"></span>
              <h3 class="font-semibold text-xl text-black mb-1">Diplomé en ingénierie informatique</h3>
              <p class="font-semibold text-base text-body-color mb-3">ENSEEIHT | Toulouse, FR</p>
              <span class="inline-flex items-center justify-center py-2 px-4 rounded-full bg-primary text-white text-xs font-semibold mb-5"> 2006 - 2009 </span>
              <p class="font-medium text-base text-body-color">
                Bac+5 - École Nationale Supérieur d'Électrotechnique, d'Électronique, d'Informatique, d'Hydraulique et des Télécommunications
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div>
    <span class="absolute right-0 top-0 z-0">
      <svg width="455" height="1307" viewBox="0 0 455 1307" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.08" width="332.05" height="1060.35" transform="matrix(-0.632736 -0.774367 -0.774367 0.632736 1031.2 139.128)" fill="url(#paint0_linear_0:1)" />
        <rect opacity="0.08" width="509.849" height="1060.35" transform="matrix(-0.632736 -0.774367 -0.774367 0.632736 1293.7 635.81)" fill="url(#paint1_linear_0:1)" />
        <defs>
          <linearGradient id="paint0_linear_0:1" x1="166.025" y1="0" x2="166.025" y2="1060.35" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4A6CF7" />
            <stop offset="1" stop-color="#4A6CF7" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="paint1_linear_0:1" x1="254.924" y1="0" x2="254.924" y2="1060.35" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4A6CF7" />
            <stop offset="1" stop-color="#4A6CF7" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </span>
    <span class="absolute left-0 bottom-0 z-[-1]">
      <svg width="416" height="1453" viewBox="0 0 416 1453" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect opacity="0.08" width="332.05" height="1030.82" transform="matrix(0.632736 0.774368 0.774368 -0.632736 -603 1507.24)" fill="url(#paint0_linear_0:1)" />
        <rect opacity="0.08" width="791.583" height="1060.35" transform="matrix(0.632736 0.774368 0.774368 -0.632736 -906.263 670.922)" fill="url(#paint1_linear_0:1)" />
        <defs>
          <linearGradient id="paint0_linear_0:1" x1="166.025" y1="0" x2="166.025" y2="1030.82" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4A6CF7" />
            <stop offset="1" stop-color="#4A6CF7" stop-opacity="0" />
          </linearGradient>
          <linearGradient id="paint1_linear_0:1" x1="395.791" y1="0" x2="395.791" y2="1060.35" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4A6CF7" />
            <stop offset="1" stop-color="#4A6CF7" stop-opacity="0" />
          </linearGradient>
        </defs>
      </svg>
    </span>
  </div>
</section>