---
const currentPath = Astro.url.pathname;
const flagHref = currentPath.includes('/fr') ? currentPath.split("/fr").pop() : `/fr${currentPath}`;
---
<header class="header bg-transparent absolute top-0 left-0 z-40 w-full flex items-center transition">
  <div class="container">
    <div class="flex mx-[-16px] items-center justify-between relative">
      <div class="px-4 w-60 max-w-full">
        <a href="/fr" class="header-logo w-full block py-6 lg:py-8">
          <!-- <img src="/images/logo/logo.svg" alt="logo" class="w-full" /> -->
          <div class="flex">
            <!-- <img src="/images/logo/logo.png" alt="logo" class="py-1" /> -->
            <img src="/images/logo/logo-2.png" height="40" width="40" alt="logo" class="py-1" />
            <div class='mx-2 items-center flex text-xl'>
              <p class="font-bold flex">LGX <span class="font-normal ml-1"> Development</span></p>
            </div>
          </div>
        </a>
      </div>
      <div class="flex px-4 justify-between items-center w-full">
        <div>
          <a href={flagHref} class="block absolute right-24 top-1/2 translate-y-[-50%] md:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 30" width="30" height="20">
              <clipPath id="t">
                <path d="M25,15h25v15zv15h-25zh-25v-15zv-15h25z"/>
              </clipPath>
              <path d="M0,0v30h50v-30z" fill="#012169"/>
              <path d="M0,0 50,30M50,0 0,30" stroke="#fff" stroke-width="6"/>
              <path d="M0,0 50,30M50,0 0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
              <path d="M-1 11h22v-12h8v12h22v8h-22v12h-8v-12h-22z" fill="#C8102E" stroke="#FFF" stroke-width="2"/>
            </svg>
          </a>
          <button
            id="navbarToggler"
            name="navbarToggler"
            aria-label="navbarToggler"
            class="block absolute right-4 top-1/2 translate-y-[-50%] lg:hidden focus:ring-2 ring-primary px-3 py-[6px] rounded-lg"
          >
            <span class="relative w-[30px] h-[2px] my-[6px] block bg-dark"></span>
            <span class="relative w-[30px] h-[2px] my-[6px] block bg-dark"></span>
            <span class="relative w-[30px] h-[2px] my-[6px] block bg-dark"></span>
          </button>
          <nav
            id="navbarCollapse"
            class="absolute py-5 lg:py-0 lg:px-4 xl:px-6 bg-white lg:bg-transparent shadow-lg rounded-lg max-w-[250px] w-full lg:max-w-full lg:w-full right-4 top-full hidden lg:block lg:static lg:shadow-none"
          >
            <ul class="blcok lg:flex">
              <li class="relative group">
                <a href="/fr/#services" class="menu-scroll text-base text-black group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-8 xl:ml-12"> Services </a>
              </li>
              <li class="relative group">
                <a href="/fr/#portfolio" class="menu-scroll text-base text-black group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-8 xl:ml-12"> Portfolio </a>
              </li>
              <li class="relative group">
                <a href="/fr/#education" class="menu-scroll text-base text-black group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-8 xl:ml-12"> CV </a>
              </li>
              <li class="relative group">
                <a href="/fr/#testimonial" class="menu-scroll text-base text-black group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-8 xl:ml-12"> Témoignages </a>
              </li>
              <li class="relative group">
                <a href="/fr/blog" class="menu-scroll text-base text-black group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-8 xl:ml-12"> Blog </a>
              </li>
              <li class="relative group">
                <a href="/fr/#contact" class="menu-scroll text-base text-black group-hover:text-primary py-2 lg:py-6 lg:inline-flex lg:px-0 flex mx-8 lg:mr-0 lg:ml-8 xl:ml-12"> Contact </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="md:flex justify-end hidden md:show pr-16 lg:pr-0">
          <a href={flagHref} class="flex inline-flex md:mr-8 items-center ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 30" width="30" height="20">
              <clipPath id="t">
                <path d="M25,15h25v15zv15h-25zh-25v-15zv-15h25z"/>
              </clipPath>
              <path d="M0,0v30h50v-30z" fill="#012169"/>
              <path d="M0,0 50,30M50,0 0,30" stroke="#fff" stroke-width="6"/>
              <path d="M0,0 50,30M50,0 0,30" clip-path="url(#t)" stroke="#C8102E" stroke-width="4"/>
              <path d="M-1 11h22v-12h8v12h22v8h-22v12h-8v-12h-22z" fill="#C8102E" stroke="#FFF" stroke-width="2"/>
            </svg>
          </a>
          <a
            href="https://calendly.com/loicginoux/30min"
            target="_blank"
            class="text-base font-bold text-white bg-primary rounded-full py-3 px-8 md:px-9 lg:px-8 xl:px-9 hover:shadow-signUp hover:bg-opacity-90 transition ease-in-out duration-300"
          >
            Rencontrons-nous
          </a>
        </div>
      </div>
    </div>
  </div>
</header>