---
import projects from "../../data/projects.json";
import Project from "../../components/Project.astro";

---
<section id="portfolio" class="pt-[120px] pb-[70px] bg-[#f8f9ff]">
  <div class="container">
    <div class="flex flex-wrap mx-[-16px]">
      <div class="w-full px-4">
        <div class="max-w-[600px] mx-auto text-center mb-[50px]">
          <span class="font-semibold text-lg text-primary block mb-2"> Portfolio </span>
          <h2 class="font-bold text-black text-3xl sm:text-4xl md:text-[45px] mb-5">Missions récentes</h2>
          <p class="font-medium text-lg text-body-color">Voici une liste d'applications web et projets sur lesquels j'ai travaillé. Vous en apprendrez davantage sur mes différentes missions et les technologies web utilisées.</p>
        </div>
      </div>
      <div class="w-full px-4">
        <div class="portfolio-buttons flex flex-wrap items-center justify-center mb-12">
          <button class="sm:font-semibold text-sm sm:text-base block py-2 px-5 md:mx-2 mb-2 rounded-full text-body-color active" data-filter="*">Toutes</button>
          <button class="sm:font-semibold text-sm sm:text-base block py-2 px-5 md:mx-2 mb-2 rounded-full text-body-color hover:bg-primary hover:text-white" data-filter=".Frontend">Front End</button>
          <button class="sm:font-semibold text-sm sm:text-base block py-2 px-5 md:mx-2 mb-2 rounded-full text-body-color hover:bg-primary hover:text-white" data-filter=".Ruby_on_Rails">
            Ruby on Rails
          </button>
          <button class="sm:font-semibold text-sm sm:text-base block py-2 px-5 md:mx-2 mb-2 rounded-full text-body-color hover:bg-primary hover:text-white" data-filter=".Fullstack">Full stack</button>
        </div>
      </div>
    </div>

    <div class="portfolio-container flex justify-center -mx-4">
      <div class="w-full xl:w-10/12 px-4">
        <div class="items-wrapper flex flex-wrap justify-center mx-[-16px]">
          {
            projects.map((project) => (
              <Project project={project} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>