<p>This is the application I enjoyed doing the most because I created everything from scratch. Working in a <strong>Agile environment</strong> with my client offered her the best value.</p>
<p>I had to look into all aspects of a web projects, sketching, coding, designing, testing, and optimizing performances to make the app as fast as possible.</p>
<p>Technically, I used <strong>Ruby On Rails</strong> for the back-end, and <strong>coffeescript</strong> coupled with <strong>Spine.js</strong> for the front-end. All the static assets of this web application are hosted on <strong>Amazon S3</strong> and distributed to end users through the content delivery service <strong>Amazon Cloudfront</strong> in order to increase performances of the app.</p>
<p>Production and testing sites are hosted on <strong>Heroku</strong> that allow quick and clean deployement of the web application using <strong>Git</strong>.</p>
<p>This particular app has <strong>social network integration</strong> through the Facebook API and use the good Mailgun services for <strong>email management</strong>.  </p>
