<p>The module I worked on is designed to manage the workflow of marketing projects.</p>
<p>On this project I was responsible for developing the front end code for this module. Using an in-house oriented object javascript framework for complex javascript applications ( similar to <a href="http://documentcloud.github.com/backbone/">Backbone.js</a>). The design of the framework architecture allowed us to have an application that is:</p>
<ul>
  <li>modular</li>
  <li>maintainable</li>
  <li>extendable</li>
</ul>
<p>The technical challenges we faced during the development were:</p>
<ul>
  <li>managing multiple users and permissions</li>
  <li>having a strong and powerful search for assets using <a href="http://en.wikipedia.org/wiki/Apache_Solr">Solr</a></li>
  <li>making the application out of the box ,easily deployable, maintainable and customisable for different customers and brands</li>
</ul>
