<p>This is a javascript component for rendering trees in the browser. It supports, ajax lazy loading, checkboxes and cookies.</p>
<p>It is easily extendable, quick to get started and fully tested.</p>
