<div class="wrapper wrapper-style4">
  <article id="contact">
    <header>
      <h2>Contactez-moi</h2>
      <span>Vous avez besoin d'un développeur front end ou back-end sur votre projet ? Vous avez besoin d'un Produit minimum viable (Minimum Viable Product) pour pouvoir concrétiser votre idée d'application? Vous êtes en manque de développeur qualifié et expérimenté ?</span>
    </header>
    <div class="5grid">
      <div class="row row-special">
        <div class="12u">
          <h3>Retrouvez-moi...</h3>
          <ul class="social">
            <li class="github"><a href="http://github.com/loicginoux" class="icon icon-github"><span>Github</span></a></li>
            <li class="linkedin"><a href="http://www.linkedin.com/in/loicginoux" class="icon icon-linkedin"><span>LinkedIn</span></a></li>
            <li class="twitter"><a href="http://twitter.com/loicginoux" class="icon icon-twitter"><span>Twitter</span></a></li>
          </ul>
          <h3>ou</h3>
          <ul class="social">
            <li class="email"><a href="#" class="icon"><span></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <p id="copyright">
        &copy; 2015 Loïc Ginoux | EURL LGX Development | E.U. Intra V.A.T. nº: FR69 804796894 | <a href="/mentions_legales">Mentions légales</a>
      </p>
    </footer>
  </article>
</div>

