<!-- CV -->
<div class="wrapper wrapper-style5">
  <article id="cv">
    <div class="5grid 5grid-container">
      <div class="row">
        <div class="12u">
          <header>
            <h2>Curriculum Vitae</h2>
            <span>vous trouverez une vue complète de mon parcours, mes expériences passées et mon profil.</span>
            <p><a href="CV_GINOUX_2016.pdf" target="_blank">ouvrir mon CV en PDF</a></p>
          </header>
        </div>
      </div>
    </div>
  </article>
</div>
