<div class="wrapper wrapper-style1">
  <article class="5grid 5grid-container" id="top">
    <div class="row">
      <div class="4u">
        <span class="me image image-full"><img src="images/me3.png" class="grayscale" alt="Loic Ginoux, freelance it engineer" /></span>
      </div>
      <div class="8u">
        <header>
          <h1><strong>Développeur freelance Ruby on Rails & Javascript</strong>.</h1>
        </header>
        <p>Je suis Loïc Ginoux, ingénieur avec +7 ans d'expérience, spécialisé sur les applications web et mobiles.</p>
        <a href="#portfolio" class="button button-big">Voir mon portfolio</a>
      </div>
    </div>
  </article>
</div>
