<div class="wrapper wrapper-style3">
  <article id="portfolio">
    <header>
      <h2>Applications et projets récents.</h2>
      <span>Je vous explique en détail mes différents projets, les technologies utilisées et les challenges rencontrés.</span>
    </header>
    <!-- portfolio quick presentation -->

    <% data.projects.lines.each do |line| %>
      <div class="5grid 5grid-container">
        <div class="row">
          <div class="12u">
          </div>
        </div>
        <div class="row">
          <% line.line.projects.each do |project| %>
            <%= partial "portfolio_intro", locals: {project: project.project, lang: "fr"} %>
          <% end %>
        </div>
      </div>

      <% line.line.projects.each do |project| %>
        <%= partial "portfolio_details", locals: {project: project.project, lang: "fr"} %>
      <% end %>

    <% end %>

    <footer>
      <p></p>
      <a href="#work" class="button button-big">Voir ma méthode de travail</a>
    </footer>
  </article>
</div>
