<section id="about" class="pt-[145px] pb-[120px] relative z-10">
  <div class="container relative z-10">
    <div class="flex flex-wrap mx-[-16px]">
      <div class="w-full lg:w-1/2 xl:w-7/12 px-4 mb-8 lg:mb-0">
        <span class="font-bold text-primary text-lg md:text-xl mb-3"> ABOUT ME </span>
        <h2 class="max-w-[450px] font-bold text-black text-3xl sm:text-4xl md:text-[45px] leading-tight sm:leading-tight md:leading-tight mb-5">Your Web Architect for Success</h2>
        <p class="max-w-[570px] font-medium text-base text-body-color">
          As a freelancer for over ten years, I have tackled diverse challenges in various domains, building a strong expertise in web application development. Open-minded, dynamic, and responsive, I can adapt to any environment to deliver simple, effective, and high-performing solutions.
        </p>
      </div>
      <div class="w-full lg:w-1/2 xl:w-5/12 px-4">
        <h3 class="font-semibold text-black text-2xl md:text-3xl mb-6">Connect With Me</h3>
        <p class="font-medium text-base text-body-color mb-10">
          I don't spend much time on the social networks, but I'm always happy to connect with new people. Feel free to contact me if you have any questions or if you want to discuss a project.
        </p>
        <div class="flex items-center">
          <a
            href="http://github.com/loicginoux"
            class="w-9 h-9 mr-3 rounded-full flex items-center justify-center border border-[#E5E8F2] text-body-color hover:bg-primary hover:border-primary hover:text-white"
            aria-label="social-link"
            name="social-link"
          >

            <img src="/images/social/github-mark-grey.png" alt="">
          </a>
          <a
            href="http://twitter.com/loicginoux"
            class="w-9 h-9 mr-3 rounded-full flex items-center justify-center border border-[#E5E8F2] text-body-color hover:bg-primary hover:border-primary hover:text-white"
            aria-label="social-link"
            name="social-link"
          >
            <svg width="19" height="14" viewBox="0 0 19 14" class="fill-current">
              <path
                d="M16.5892 2.41096L17.7333 1.09589C18.0645 0.739726 18.1548 0.465753 18.1849 0.328767C17.2817 0.821918 16.4387 0.986301 15.8968 0.986301H15.686L15.5656 0.876712C14.843 0.30137 13.9398 0 12.9763 0C10.8688 0 9.2129 1.58904 9.2129 3.42466C9.2129 3.53425 9.2129 3.69863 9.24301 3.80822L9.33333 4.35616L8.70107 4.32877C4.84731 4.21918 1.68602 1.20548 1.17419 0.684932C0.331183 2.05479 0.812903 3.36986 1.32473 4.19178L2.34839 5.72603L0.722581 4.90411C0.752688 6.05479 1.23441 6.9589 2.16774 7.61644L2.98064 8.16438L2.16774 8.46575C2.67957 9.86301 3.82366 10.4384 4.66667 10.6575L5.78064 10.9315L4.72688 11.589C3.04086 12.6849 0.933333 12.6027 0 12.5205C1.89677 13.726 4.15484 14 5.72043 14C6.89462 14 7.76774 13.8904 7.97849 13.8082C16.4086 12 16.8 5.15068 16.8 3.78082V3.58904L16.9806 3.47945C18.0043 2.60274 18.4258 2.13699 18.6667 1.86301C18.5763 1.89041 18.4559 1.94521 18.3355 1.9726L16.5892 2.41096Z"
              />
            </svg>
          </a>
          <a
            href="http://www.linkedin.com/in/loicginoux"
            class="w-9 h-9 mr-3 rounded-full flex items-center justify-center border border-[#E5E8F2] text-body-color hover:bg-primary hover:border-primary hover:text-white"
            aria-label="social-link"
            name="social-link"
          >
            <svg width="14" height="14" viewBox="0 0 14 14" class="fill-current">
              <path
                d="M13.0214 0H1.02084C0.453707 0 0 0.451613 0 1.01613V12.9839C0 13.5258 0.453707 14 1.02084 14H12.976C13.5432 14 13.9969 13.5484 13.9969 12.9839V0.993548C14.0422 0.451613 13.5885 0 13.0214 0ZM4.15142 11.9H2.08705V5.23871H4.15142V11.9ZM3.10789 4.3129C2.42733 4.3129 1.90557 3.77097 1.90557 3.11613C1.90557 2.46129 2.45002 1.91935 3.10789 1.91935C3.76577 1.91935 4.31022 2.46129 4.31022 3.11613C4.31022 3.77097 3.81114 4.3129 3.10789 4.3129ZM11.9779 11.9H9.9135V8.67097C9.9135 7.90323 9.89082 6.8871 8.82461 6.8871C7.73571 6.8871 7.57691 7.74516 7.57691 8.60322V11.9H5.51254V5.23871H7.53154V6.16452H7.55423C7.84914 5.62258 8.50701 5.08065 9.52785 5.08065C11.6376 5.08065 12.0232 6.43548 12.0232 8.2871V11.9H11.9779Z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute right-0 top-1/2 -translate-y-1/2">
    <svg width="60" height="120" viewBox="0 0 60 120" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="60" cy="60" r="60" fill="url(#paint0_radial_18:24)" />
      <defs>
        <radialGradient id="paint0_radial_18:24" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(60) rotate(90) scale(120)">
          <stop stop-color="white" />
          <stop offset="0.569" stop-color="#F0F4FD" />
          <stop offset="0.993" stop-color="#D9E0F0" />
        </radialGradient>
      </defs>
    </svg>
  </div>
</section>