<section id="pricing" class="pt-[120px]">
  <div class="container">
    <div class="pb-20 border-b border-[#E9ECF8]">
      <div class="flex flex-wrap mx-[-16px]">
        <div class="w-full px-4">
          <div class="max-w-[600px] mx-auto text-center mb-[50px]">
            <span class="font-semibold text-lg text-primary block mb-2"> My Resume </span>
            <h2 class="font-bold text-black text-3xl sm:text-4xl md:text-[45px] mb-5">My Pricing Plans</h2>
            <p class="font-medium text-lg text-body-color">There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in some form.</p>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap justify-center -mx-4">
        <div class="w-full md:w-1/2 lg:w-1/3 px-4">
          <div class="bg-white rounded-2xl relative px-9 lg:px-5 2xl:px-9 pt-14 pb-11 z-10 text-center group hover:shadow-pricing transition mb-10">
            <h3 class="font-semibold text-2xl text-black mb-4">Gold Package</h3>
            <p class="font-medium text-body-color text-base leading-relaxed mb-10 max-w-[260px] mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elitdsdg egn Sollicitudin dignissim.</p>
            <p class="font-bold text-4xl text-primary mb-8">$99</p>
            <a
              href="javascript:void(0)"
              class="inline-flex py-3 px-8 rounded-full border border-[#d7dfff] font-semibold text-base text-body-color transition duration-300 ease-in-out hover:border-primary hover:bg-primary hover:text-white"
            >
              See Details
            </a>

            <div>
              <span class="absolute top-2 left-2 opacity-0 group-hover:opacity-100">
                <svg width="22" height="32" viewBox="0 0 22 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="20.6228" cy="1.12081" r="1.12081" transform="rotate(90 20.6228 1.12081)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="30.4863" r="1.12081" transform="rotate(90 20.6228 30.4863)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="1.12081" r="1.12081" transform="rotate(90 1.12089 1.12081)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="30.4863" r="1.12081" transform="rotate(90 1.12089 30.4863)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="1.12081" r="1.12081" transform="rotate(90 10.9837 1.12081)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="30.4863" r="1.12081" transform="rotate(90 10.9837 30.4863)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="10.9839" r="1.12081" transform="rotate(90 20.6228 10.9839)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="10.9839" r="1.12081" transform="rotate(90 1.12089 10.9839)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="10.9839" r="1.12081" transform="rotate(90 10.9837 10.9839)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="20.8469" r="1.12081" transform="rotate(90 20.6228 20.8469)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="20.8469" r="1.12081" transform="rotate(90 1.12089 20.8469)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="20.8469" r="1.12081" transform="rotate(90 10.9837 20.8469)" fill="#4A6CF7" />
                </svg>
              </span>
              <span class="absolute bottom-2 right-2 opacity-0 group-hover:opacity-100">
                <svg width="22" height="32" viewBox="0 0 22 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="20.6228" cy="1.12081" r="1.12081" transform="rotate(90 20.6228 1.12081)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="30.4863" r="1.12081" transform="rotate(90 20.6228 30.4863)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="1.12081" r="1.12081" transform="rotate(90 1.12089 1.12081)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="30.4863" r="1.12081" transform="rotate(90 1.12089 30.4863)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="1.12081" r="1.12081" transform="rotate(90 10.9837 1.12081)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="30.4863" r="1.12081" transform="rotate(90 10.9837 30.4863)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="10.9839" r="1.12081" transform="rotate(90 20.6228 10.9839)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="10.9839" r="1.12081" transform="rotate(90 1.12089 10.9839)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="10.9839" r="1.12081" transform="rotate(90 10.9837 10.9839)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="20.8469" r="1.12081" transform="rotate(90 20.6228 20.8469)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="20.8469" r="1.12081" transform="rotate(90 1.12089 20.8469)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="20.8469" r="1.12081" transform="rotate(90 10.9837 20.8469)" fill="#4A6CF7" />
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4">
          <div class="bg-white rounded-2xl relative px-9 lg:px-5 2xl:px-9 pt-14 pb-11 z-10 text-center group hover:shadow-pricing transition mb-10">
            <h3 class="font-semibold text-2xl text-black mb-4">Platinum Package</h3>
            <p class="font-medium text-body-color text-base leading-relaxed mb-10 max-w-[260px] mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elitdsdg egn Sollicitudin dignissim.</p>
            <p class="font-bold text-4xl text-primary mb-8">$189</p>
            <a
              href="javascript:void(0)"
              class="inline-flex py-3 px-8 rounded-full border border-[#d7dfff] font-semibold text-base text-body-color transition duration-300 ease-in-out hover:border-primary hover:bg-primary hover:text-white"
            >
              See Details
            </a>

            <div>
              <span class="absolute top-2 left-2 opacity-0 group-hover:opacity-100">
                <svg width="22" height="32" viewBox="0 0 22 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="20.6228" cy="1.12081" r="1.12081" transform="rotate(90 20.6228 1.12081)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="30.4863" r="1.12081" transform="rotate(90 20.6228 30.4863)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="1.12081" r="1.12081" transform="rotate(90 1.12089 1.12081)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="30.4863" r="1.12081" transform="rotate(90 1.12089 30.4863)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="1.12081" r="1.12081" transform="rotate(90 10.9837 1.12081)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="30.4863" r="1.12081" transform="rotate(90 10.9837 30.4863)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="10.9839" r="1.12081" transform="rotate(90 20.6228 10.9839)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="10.9839" r="1.12081" transform="rotate(90 1.12089 10.9839)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="10.9839" r="1.12081" transform="rotate(90 10.9837 10.9839)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="20.8469" r="1.12081" transform="rotate(90 20.6228 20.8469)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="20.8469" r="1.12081" transform="rotate(90 1.12089 20.8469)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="20.8469" r="1.12081" transform="rotate(90 10.9837 20.8469)" fill="#4A6CF7" />
                </svg>
              </span>
              <span class="absolute bottom-2 right-2 opacity-0 group-hover:opacity-100">
                <svg width="22" height="32" viewBox="0 0 22 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="20.6228" cy="1.12081" r="1.12081" transform="rotate(90 20.6228 1.12081)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="30.4863" r="1.12081" transform="rotate(90 20.6228 30.4863)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="1.12081" r="1.12081" transform="rotate(90 1.12089 1.12081)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="30.4863" r="1.12081" transform="rotate(90 1.12089 30.4863)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="1.12081" r="1.12081" transform="rotate(90 10.9837 1.12081)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="30.4863" r="1.12081" transform="rotate(90 10.9837 30.4863)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="10.9839" r="1.12081" transform="rotate(90 20.6228 10.9839)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="10.9839" r="1.12081" transform="rotate(90 1.12089 10.9839)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="10.9839" r="1.12081" transform="rotate(90 10.9837 10.9839)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="20.8469" r="1.12081" transform="rotate(90 20.6228 20.8469)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="20.8469" r="1.12081" transform="rotate(90 1.12089 20.8469)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="20.8469" r="1.12081" transform="rotate(90 10.9837 20.8469)" fill="#4A6CF7" />
                </svg>
              </span>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4">
          <div class="bg-white rounded-2xl relative px-9 lg:px-5 2xl:px-9 pt-14 pb-11 z-10 text-center group hover:shadow-pricing transition mb-10">
            <h3 class="font-semibold text-2xl text-black mb-4">Silver Package</h3>
            <p class="font-medium text-body-color text-base leading-relaxed mb-10 max-w-[260px] mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elitdsdg egn Sollicitudin dignissim.</p>
            <p class="font-bold text-4xl text-primary mb-8">$249</p>
            <a
              href="javascript:void(0)"
              class="inline-flex py-3 px-8 rounded-full border border-[#d7dfff] font-semibold text-base text-body-color transition duration-300 ease-in-out hover:border-primary hover:bg-primary hover:text-white"
            >
              See Details
            </a>

            <div>
              <span class="absolute top-2 left-2 opacity-0 group-hover:opacity-100">
                <svg width="22" height="32" viewBox="0 0 22 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="20.6228" cy="1.12081" r="1.12081" transform="rotate(90 20.6228 1.12081)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="30.4863" r="1.12081" transform="rotate(90 20.6228 30.4863)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="1.12081" r="1.12081" transform="rotate(90 1.12089 1.12081)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="30.4863" r="1.12081" transform="rotate(90 1.12089 30.4863)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="1.12081" r="1.12081" transform="rotate(90 10.9837 1.12081)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="30.4863" r="1.12081" transform="rotate(90 10.9837 30.4863)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="10.9839" r="1.12081" transform="rotate(90 20.6228 10.9839)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="10.9839" r="1.12081" transform="rotate(90 1.12089 10.9839)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="10.9839" r="1.12081" transform="rotate(90 10.9837 10.9839)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="20.8469" r="1.12081" transform="rotate(90 20.6228 20.8469)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="20.8469" r="1.12081" transform="rotate(90 1.12089 20.8469)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="20.8469" r="1.12081" transform="rotate(90 10.9837 20.8469)" fill="#4A6CF7" />
                </svg>
              </span>
              <span class="absolute bottom-2 right-2 opacity-0 group-hover:opacity-100">
                <svg width="22" height="32" viewBox="0 0 22 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="20.6228" cy="1.12081" r="1.12081" transform="rotate(90 20.6228 1.12081)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="30.4863" r="1.12081" transform="rotate(90 20.6228 30.4863)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="1.12081" r="1.12081" transform="rotate(90 1.12089 1.12081)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="30.4863" r="1.12081" transform="rotate(90 1.12089 30.4863)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="1.12081" r="1.12081" transform="rotate(90 10.9837 1.12081)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="30.4863" r="1.12081" transform="rotate(90 10.9837 30.4863)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="10.9839" r="1.12081" transform="rotate(90 20.6228 10.9839)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="10.9839" r="1.12081" transform="rotate(90 1.12089 10.9839)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="10.9839" r="1.12081" transform="rotate(90 10.9837 10.9839)" fill="#4A6CF7" />
                  <circle cx="20.6228" cy="20.8469" r="1.12081" transform="rotate(90 20.6228 20.8469)" fill="#4A6CF7" />
                  <circle cx="1.12089" cy="20.8469" r="1.12081" transform="rotate(90 1.12089 20.8469)" fill="#4A6CF7" />
                  <circle cx="10.9837" cy="20.8469" r="1.12081" transform="rotate(90 10.9837 20.8469)" fill="#4A6CF7" />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>