<p>This application let individual carrier meet people that want to send packages from any size, the popularity of this french startup is increasing and they are the leader on this market in France.</p>
<p>The back end is done in Ruby on Rails, my mission is to develop the api to communication the front end application, design the code and the data schema and to implement new features. The goal is to have a clean, robuste code that can scale easily but still having a easily readable code which is tested from end to end.</p>
<p>The technologies used are Ruby On Rails, React as front end javascript framework, Postgresql as database, Heroku for hosting, and Elastic Search for semantic search.</p>
