<p>Here are some of the projects I took part in whilst working on this application:</p>
<ul>
  <li>Implementation an entreprise search using <a href="http://en.wikipedia.org/wiki/Apache_Solr">Solr</a> and Ajax making the search page intuitive and easy to use thanks to facets, filters and saved searches</li>
  <li>Development the help section of the site</li>
  <li>Use of advanced excel spreadsheet for data importation</li>
  <li>Creation of pickup area that was needed for customers not registered within the system. This required me to implement a secure and enclosed area necessary for downloading and viewing assets</li>
</ul>
<p>In order to make Vyre's work more efficient I also developed two javascript frameworks which are now used by the whole company:</p>
<ul>
  <li>A javascript validation framework that is easy to use and configure</li>
  <li>A javascript framework which improves the usability of multiple select boxes (a bit like <a href="http://harvesthq.github.com/chosen/">chosen</a>)</li>
</ul>
<p>Unfortunately, these codes are property of Vyre and not publicly available.</p>
