<p>While I worked as a Kitesurf Instructor in <a href="http://www.ktstarifa.com">KTS</a> (Tarifa, Spain), I also built their website and a web application that help them working more efficiently.</p>
<p>While the website is a simple Joomla website, the application is composed in two parts.</p>
<p>The school manager helps with registering new students preformatting a contract and manage rented equipments and hours done.</p>
<p>The shop manager is a simple stock control application for the kitesurf shop that let them manage products, quantities, dealers and second hand equipment.</p>
<p>This app was made with Ruby on Rails and an administration framework called Active Admin.</p>
