<p> Development of an internal web plateform to support and engage employees in creating their own business project. </p>
<p> HTML and CSS integration, responsive and available for all browsers, front end development via the Knockout.js framework and back end development via Ruby on Rails. </p>
<p> Interaction with the Ulule API for the crowdfunding management of the projects elected by the users of the platform. </p>
<p> Integration with Facebook and Twitter APIs for tracking ongoing projects on social networks.</p>