<p>Back end development of several e-commerce websites with the Spree / Solidus framework.</p>
<p>The technical stack is based on the Ruby on Rails framework, and the front end of the web application uses the React / Redux framework. The site is hosted on Heroku and using a postgresql database. </p>
<p>Custom development of specific modules for back office management via Solidus: Promotion management, management of customer returns and refunds, management of multi-packages and multi-warehouse deliveries. </p>
<p>Implementation of a powerful search engine via Algolia, for a quick and easy product search for the users of the E-commerce websites. </p>
<p>Implementation of data flows for communicating between existing entities of the company, service reporting, marketing, finance, etc ... </p>

