---
import "../styles/animate.css";
import "../styles/style.css";
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ENR08JE03N"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ENR08JE03N');
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loic Ginoux - Full Stack Developer - Ruby on Rails & Javascript</title>
    <meta name="description" content="Freelance full stack web engineer specialized in Ruby on Rails and Javascript." />
    <meta name="keywords" content="Profesional Freelance web engineer, Ruby on Rails developer, Javascript Developer, web aplication developer, web project management, web contractor" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- i18n related -->
    <meta http-equiv="content-language" content="en-us">
    <link rel="alternate" hreflang="en-us" href="https://loicginoux.com">
    <link rel="alternate" hreflang="fr-fr" href="https://loicginoux.com/fr">
    <link rel="alternate" href="https://www.example.com" hreflang="x-default" />

    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- END: FAVICONS -->

    <!-- image gallery -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/venobox@2.1.4/dist/venobox.min.css" />

  </head>
  <body>

    <slot />

    <script>
      import "../scripts/all.js";
    </script>
  </body>
</html>