---
layout: page
title: test
description: test
---

<h2>test 2</h2>
<div id="alerti-onbaording-searchbox">
</div>

<script type="text/javascript">
  !function(e,t,i,n,a,r,s){e[a]=e[a]||function(){(e[a].q=e[a].q||[]).push(arguments)},r=t.createElement(i),s=t.getElementsByTagName(i)[0],r.async=1,r.src=n,s.parentNode.insertBefore(r,s)}(window,document,"script","//en.staging.alerti.com/assets/widgetsearchbox/alerti-widget-staging.js","alertiWidget")
  // initialize widget and pass custom configuration
  alertiWidget('create', {
    //direct onboarding has button in iframe, indirect pass by an intermediary page that display business 5 reviews
    directOnboarding: true,
    iframeWidth: 410,
    iframeHeight: 420,
    // apply custom style inside the iframe
    iframeCss: `
      body {
        background: blue
      }
    `
  });
</script>




