---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import About from '../../components/About.astro';
import Services from '../../components/Services.astro';
import Portfolio from '../../components/Portfolio.astro';
import Clients from '../../components/Clients.astro';
import CTA from '../../components/CTA.astro';
import Education from '../../components/Education.astro';
import Pricing from '../../components/Pricing.astro';
import Testimonials from '../../components/Testimonials.astro';
import Blog from '../../components/Blog.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
import projects from "../../data/projects.json";

export function getStaticPaths() {
  return projects.map((project) => {
    return {
      params: {
        clientId: project['id']
      }
    }
  })
}

const { clientId } = Astro.params;

const ProjectDescription = (await import(`../../data/portfolio/${clientId}.html`)).default

const project = projects.filter((project) => {
  return project['id'] === clientId
})[0]
---

<Layout>
  <Navbar/>

  <section class="relative z-10 pt-[150px] pb-[90px] mb-20 overflow-hidden">
    <div class="container">
      <div class="flex flex-wrap items-center mx-[-16px]">
        <div class="w-full md:w-8/12 lg:w-7/12 px-4">
          <div class="max-w-[570px] mb-12 md:mb-0">
            <h1 class="font-bold text-black text-2xl sm:text-3xl mb-5">{project['title_fr']}</h1>
            <p class="font-medium text-base text-body-color leading-relaxed">{project['intro_en']}</p>
          </div>
        </div>
        <div class="w-full md:w-4/12 lg:w-5/12 px-4">
          <div class="text-end">
            <ul class="flex items-center md:justify-end">
              <li class="flex items-center">
                <a href="/#portfolio" class="font-medium text-base text-body-color pr-1 hover:text-primary"> Home </a>
                <span class="block w-2 h-2 border-t-2 border-r-2 border-body-color rotate-45 mr-3"></span>
              </li>
              <li class="font-medium text-base text-primary">Portfolio Details</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <span class="absolute bottom-0 left-0 z-[-1]">
        <svg width="730" height="206" viewBox="0 0 730 206" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.08" width="136.991" height="563.705" transform="matrix(0.632736 0.774368 0.774368 -0.632736 -201.278 330.677)" fill="url(#paint0_linear_0:1)" />
          <rect opacity="0.05" width="345.355" height="563.705" transform="matrix(0.632736 0.774368 0.774368 -0.632736 74 330.677)" fill="url(#paint1_linear_0:1)" />
          <defs>
            <linearGradient id="paint0_linear_0:1" x1="68.4956" y1="0" x2="68.4956" y2="563.705" gradientUnits="userSpaceOnUse">
              <stop stop-color="#4A6CF7" />
              <stop offset="1" stop-color="#4A6CF7" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="paint1_linear_0:1" x1="172.678" y1="0" x2="172.678" y2="563.705" gradientUnits="userSpaceOnUse">
              <stop stop-color="#4A6CF7" />
              <stop offset="1" stop-color="#4A6CF7" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </span>
      <span class="absolute top-0 right-0 z-[-1]">
        <svg width="405" height="206" viewBox="0 0 405 206" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.08" width="289.718" height="563.705" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 603.461 -125.138)" fill="url(#paint0_linear_54:595)" />
          <defs>
            <linearGradient id="paint0_linear_54:595" x1="144.859" y1="0" x2="144.859" y2="563.705" gradientUnits="userSpaceOnUse">
              <stop stop-color="#4A6CF7" />
              <stop offset="1" stop-color="#4A6CF7" stop-opacity="0" />
            </linearGradient>
          </defs>
        </svg>
      </span>
    </div>
  </section>

  <!-- ====== Blog Section Start -->
  <section class="pb-20">
    <div class="container">
      <div class="flex flex-wrap -mx-5">
        <div class="w-full lg:w-8/12 px-5">
          <div>
            <h4 class="font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-black mb-8"><span class="text-primary">01.</span> Job details</h4>

            <ProjectDescription/>

            <h4 class="font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-black mb-8"><span class="text-primary">02.</span> Technologies and tools</h4>

            <ul class="list list-inside list-disc mb-7">
              {
                project['technos'].map((technology) => {
                  return (
                    <li class="text-base sm:text-lg lg:text-base xl:text-lg text-primary mb-3">
                      <span class="text-body-color">{technology}</span>
                    </li>
                  )
                })
              }
            </ul>
          </div>
        </div>
        <div class="w-full lg:w-4/12 px-5">
          <div class="bg-[#F8F9FF] border border-[#D7DFFF] py-9 px-6 sm:p-9 lg:px-6 xl:px-5 rounded-sm mb-10">
            <h3 class="font-bold text-primary text-[22px] mb-7">Project Info</h3>
            <ul>
              <li class="flex lg:flex-wrap xl:flex-nowrap mb-3">
                <span class="max-w-[90px] w-full font-medium text-black text-base flex justify-between">
                  Client
                  <span class="text-body-color">:</span>
                </span>
                <span class="w-full font-medium text-body-color text-base pl-5 lg:pl-0 xl:pl-5">{project['title_fr']}</span>
              </li>
              <li class="flex lg:flex-wrap xl:flex-nowrap mb-3">
                <span class="max-w-[90px] w-full font-medium text-black text-base flex justify-between">
                  Category
                  <span class="text-body-color">:</span>
                </span>
                <span class="w-full font-medium text-body-color text-base pl-5 lg:pl-0 xl:pl-5">{project['categories']}</span>
              </li>
              <li class="flex lg:flex-wrap xl:flex-nowrap mb-3">
                <span class="max-w-[90px] w-full font-medium text-black text-base flex justify-between">
                  Period
                  <span class="text-body-color">:</span>
                </span>
                <span class="w-full font-medium text-body-color text-base pl-5 lg:pl-0 xl:pl-5">{project['start']} - {project['end']}</span>
              </li>
              <li class="flex lg:flex-wrap xl:flex-nowrap mb-3">
                <span class="max-w-[90px] w-full font-medium text-black text-base flex justify-between">
                  Tags
                  <span class="text-body-color">:</span>
                </span>
                <span class="w-full font-medium text-body-color text-base pl-5 lg:pl-0 xl:pl-5">{project['tags']}</span>
              </li>
              {
                project['link']
                &&
                <li class="flex lg:flex-wrap xl:flex-nowrap mb-3">
                  <span class="max-w-[90px] w-full font-medium text-black text-base flex justify-between">
                    Website
                    <span class="text-body-color">:</span>
                  </span>
                  <a href={`${project['link']}`} target=”_blank”>
                    <span class="w-full font-medium text-body-color text-base pl-5 lg:pl-0 xl:pl-5">{project['link']}</span>
                  </a>
                </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Blog Section End -->

  <Contact/>

  <Footer/>

  <!-- ====== Back To Top Start -->
  <a
    href="javascript:void(0)"
    class="hidden items-center justify-center bg-primary text-white w-10 h-10 rounded-md fixed bottom-8 right-8 left-auto z-[999] hover:shadow-signUp transition duration-300 back-to-top"
  >
    <span class="w-3 h-3 border-t border-l border-white rotate-45 mt-[6px]"></span>
  </a>
</Layout>